---
layout: post
title: "Use the Google Authenticator with Rails"
date: 2012-09-04 11:40
comments: true
categories: 
---

%p
  Last week I published a gem, 
  %code google-authenticator-rails
  (
  %a(href="http://github.com/jaredonline/google-authenticator" target="_blank") GitHub repository
  )
  to make it nice and easy to use 
  %code ActiveRecord
  with the mobile
  %a(href="http://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8" target="_blank")Google Authenticator iPhone App
  for two-step, Multi-Factoral Authentication.

%p
  Over the weekend I had the chance to integrate it with a working app.  Let's take a look.

  / more

%p
  More content.