---
layout: page
title: "About"
comments: false
sharing: true
footer: true
---

%h2 Who
%p
  A
  26
  year-old, guitarist and cyclist out of San Francisco, California.

%h2 What
%p A self-taught web developer, specializing in web-based applications.

%h2 Where
%p
  I'm a software engineer for a finance based start-up by the name of 
  %a{ :href => "https://www.futureadvisor.com", :target => "_blank"} FutureAdvisor
